# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List commonly used Data Science librarys
* Table Data Science Tools

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:

* NumPy
* Matplotlib
* Plotly

|Data Science Tools |
|-------------|
|Apache Spark |
|Pandas | 
|Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
hours = 200 / 60

In [8]:
hours

3.3333333333333335

## Author
Nicolas